.ResetPassword-component {
  background-color: #d9e7e9;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResetPassword-component .header-div {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
}

.ResetPassword-component .ResetPassword-div {
  width: 500px;
  background-color: #314246;
  height: 500px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 1px rgb(63, 83, 82);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.ResetPassword-component .ResetPassword-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
}

.ResetPassword-component .ResetPassword-div .resetpassword-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 70%;
}

.ResetPassword-component .ResetPassword-div .resetpassword-form input {
  height: 36px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.ResetPassword-component
  .ResetPassword-div
  .resetpassword-form
  input[type="email"] {
  padding-left: 6px;
}

.ResetPassword-component
  .ResetPassword-div
  .resetpassword-form
  input[type="submit"] {
  background-color: rgb(109, 155, 155);
}

.ResetPassword-component
  .ResetPassword-div
  .resetpassword-form #disabled {
    background-color: rgb(158, 158, 158);
    color: black;
  }
