.ResetPassword-component {
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResetPassword-component .header-div {
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
}

.ResetPassword-component .ResetPassword-div {
  width: 500px;
  background-color: #314246;
  height: 500px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 1px rgb(63, 83, 82);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.ResetPassword-component .ResetPassword-div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 200px;
}

.ResetPassword-component .ResetPassword-div .resetpassword-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 70%;
}

.ResetPassword-component .ResetPassword-div .resetpassword-form input,
.ResetPassword-component .ResetPassword-div .resetpassword-form a {
  height: 36px;
  margin-bottom: 6px;
  border-radius: 4px;
}

.ResetPassword-component .ResetPassword-div .resetpassword-form a {
  background-color: rgb(109, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.ResetPassword-component
  .ResetPassword-div
  .resetpassword-form
  input[type="email"] {
  padding-left: 6px;
}

.ResetPassword-component
  .ResetPassword-div
  .resetpassword-form
  input[type="submit"] {
  background-color: rgb(109, 155, 155);
}

.ResetPassword-component .ResetPassword-div .resetpassword-form #disabled {
  background-color: rgb(158, 158, 158);
  color: black;
}

.ResetPassword-component .ResetPassword-div .resetpassword-form .error-input {
  border: red 1px solid;
}

@media screen and (max-width: 800px) {
  .ResetPassword-component .ResetPassword-div {
    width: 92%;
    height: 400px;
    justify-content: center;
  }

  .ResetPassword-component .ResetPassword-div div {
    justify-content: center;
    height: auto;
  }

  .ResetPassword-component .ResetPassword-div .resetpassword-form {
    width: 60%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .ResetPassword-component .ResetPassword-div {
    padding: 10px;
    height: 340px;
  }

  .ResetPassword-component .ResetPassword-div div p {
    font-size: 1rem;
  }

  .ResetPassword-component .ResetPassword-div .resetpassword-form {
    width: 98%;
    height: 400px;
  }
}
